**/script_raw.js
**/spec
**/ws-spam.js
**/zzz_settings.txt
**/game3.js
**/proxy.txt
**/kayibot_node
**/ws-proxy.js
**/MULTIBOT_README.md
**/multi-bot-server.js
**/script_raw copy.js
**/test-multibot.js
**/ws-bot.js
**/local_script.js
**/agrz.js
**/local_script_multi.js
**/local_script_multibot.js
**/local_script_v2.js
**/ws-connection-manager.js
**/ADMIN_API_DOCUMENTATION.md
**/PROTOCOL_ANALYSIS.md
**/create_license.html
**/ws-spam.log
**/kayibot_node_client.js
**/node_modules
**/package-lock.json
**/MultiOgar-master
**/package.json
**/spam-bot.js
**/test_fingerprint.js
**/test-death.js
**/ws-spam-yen.js
**/ws-spam-orj.js
**/ws-spam-kayi.js
**/spam2
**/kayibot_node 2.zip
**/kayibot_node 3.zip
**/kayibot_node 4.zip 
**/telegram
.DS_Store
Thumbs.db
*.swp
**/yedek
*.swo
.vscode/
.idea/
dist/
build/
out/
kayibot_node.zip
kayibot_node copy
kayibot_node_farkli
kayibot_node2
**/sp
**/script_raw copy 2.js
main_out.js
ws-spam-almayin.js
.gitignore
ws-spam-rand.js
.gitignore
**/aa.js
**/fake_bot.js
**/play2-yedek1.js
**/play2-yedek2-eski.js
**/sonfix.js
**/kamerasorunufix.js
**/assets/js/obfuscate
**/fakebot
**/generate_recaptcha_docs.md
**/fake_bot copy 2.js
**/fake_bot copy 3.js
**/play2 copy.html
**/fake_bot copy.js
**/c.js
**/script_raw_by_cc.js
**/play-by-cc.html
calisan.js
sjjsjsjs.js
cc/
agar3.js
/agar_clone
assets/js/script2_yedek
assets/js/script3_yedek
**/external_raw.js
**/external_raw_userscript.js
