**/script_raw.js
**/ws-spam.js
**/zzz_settings.txt
**/game3.js
**/proxy.txt
**/kayibot_node
**/ws-proxy.js
**/MULTIBOT_README.md
**/multi-bot-server.js
**/script_raw copy.js
**/test-multibot.js
**/ws-bot.js
**/local_script.js
**/agrz.js
**/local_script_multi.js
**/local_script_multibot.js
**/local_script_v2.js
**/ws-connection-manager.js
**/ADMIN_API_DOCUMENTATION.md
**/PROTOCOL_ANALYSIS.md
**/create_license.html
**/ws-spam.log
**/node_modules
**/package-lock.json
**/MultiOgar-master
**/package.json
**/telegram
.DS_Store
Thumbs.db
*.swp
**/yedek
*.swo
.vscode/
.idea/
dist/
build/
out/
kayibot_node.zip
